
<div class="tutorial_container" style="padding:20px 10px">
  <div class="righttd" style="margin-bottom:20px">Integer rhoncus leo in leo egestas a dignissim quam dapibus.Nulla volutpat libero ut quam accumsan in cursus libero porta.
In eu tortor vel quam ullamcorper sodales.</div>

<div>

<table width="520" border="0" cellspacing="10" cellpadding="0" style="font-size:18px">
	<%= form_for :change_password do |f|  %>
  <tr>
    <td align="left" valign="middle">Current password:</td>
    <td align="right" valign="top">
     <%= f.password_field :old_password,:class=>"textfield_1",:style=>" !important" %> </td>
  </tr>
  <tr>
    <td align="left" valign="middle">Password:</td>
    <td align="right" valign="top">
      <%= f.password_field :new_password,:class=>"textfield_1" %></td>
  </tr>
  <tr>
    <td align="left" valign="middle">Confirm password:</td>
    <td align="right" valign="top" class="righttd"><%= f.password_field :new_password_confirmation,:class=>"textfield_1",:style=>" !important" %></td>
  </tr>
  
    <tr>
    <td align="left" valign="top"></td>
    <td align="right" valign="top">
	 <%= link_to "Cancel",  change_password_path,:class =>"deal",:style=>"float:right; margin-left:10px" %>
     <%= f.submit 'Change Password',:class=>"deal",:style=>"float:right" %>
	    </td>
  </tr>
</table>
<% end %>

</div>


    </div>
    
   </div>  