<h1>Welcome to Dashbroad</h1>

<p>
<h6><%= link_to "Sign Out", user_signout_path %></h6>
<h6><%= link_to "Edit Me", edit_user_path(current_user) %></h6>
</p>
    
<h4> Welcome <%= current_user.name %>, </h4>
<h4> Email: <%= current_user.email %> </h4>

<table border="0">
<tbody>	
<th>No</th>	
<th>Course Title</th>
<tr>	
<% @courses.each do |course|%>

<td><%= link_to course.id, course %></td><br>
<td><%= course.course_title %></td>
</tr>
<%end%>
</tbody>
</table>