

  
<div class="tutorial_container">
<div class="tab_link"><%= link_to "All Tutorials", :controller =>"users" , :action =>"dashboard" %><%= link_to "Web Tutorials", :controller =>"users" , :action =>"dashboard",:value=>"Webtutorial" %><%= link_to "App Tutorials", :controller =>"users" , :action =>"dashboard",:value=>"Apptutorial" %> </div>
	
	<div class="result_count"><%= @courses.length %> results</div>
   <% @courses.each do |course|%>
	<div class="tutorials_box_highlight">
	
	<div class="tutorials_box_left">
	
	<div class="tutorial_image"><%= link_to image_tag("#{course.image_url(:normal1)}"),course %></div>
	
	<div style="width:auto; float:left; text-align:center; margin:10px 0 0 10px">
	
	 	  <%= ratings_for course, :dimension => :quality rescue "" %>
	
	</div>
	
	 
	</div>
	
	<div class="tutorials_box_right">
	<div><%= link_to course.course_title,course,:class =>"tutorial_heading" %>.</div>

<div class="tutorial_discription"><%= course.course_summary.html_safe %> </div>


<div class="button_wraper">


<div style="float:left; margin:0 0 0 10px; width:auto"><%= link_to "VIEW THIS COURSE", course ,:class =>"deal"%></div> 

  <% @calculate_discount = ((course.percent_off || 1)/100)*((course.price))%>
  
  <% @total_discount = (course.price)-(@calculate_discount) %>
  
  <div style="margin:0 0 0 10px; float:left"><span class="price">$<%= number_with_precision(@total_discount,  :precision => 0) %></span> &nbsp;<span class="discount">$<%= course.price %></span><span class="off2"> (<%= number_with_precision(course.percent_off,  :precision => 0) %>% OFF)</span></div>
  
  <% @a= ( course.ExpiryDate - Date.today ).to_i rescue ""%> 
  	 
	<% if @a < 0 %>
	
	<div style="margin:0; float:left; width:100%; margin:10px 0"><span class="expires">Expires:</span><%=" Sorry  Course has been expired" %></div>
	<%else%>
			<div style="margin:0; float:left; width:100%; margin:10px 0"><span class="expires">Expires:</span><span class="days"> <%= a= ( course.ExpiryDate - Date.today ).to_i rescue ""%> Days</span></div>
	<% end %>
  
  </div>

		</div>
	         <% if course.is_featured == true %>
			<div class="featured_ribbon"><img src="/assets/featured.png" alt="" /></div>
		<%else%>
	       <div class="featured_ribbon"></div>
	    <% end %>	
	</div>
	
	<%end%>
			
	</div>
	</div>
	


	  




