

  
<div class="tutorial_container">
<div class="tab_link"><a href="#" class="tab_link">All Tutorials</a> <a href="#" class="tab_link">Web Tutorials</a> <a href="#" class="tab_link">App Tutorials</a></div>
	
	<div class="result_count"><%= @courses.length %> results</div>
   <% @courses.each do |course|%>
	<div class="tutorials_box_highlight">
	
	<div class="tutorials_box_left">
	
	<div class="tutorial_image"><%= image_tag course.image_url(:normal1) if course.image? %></div>
	
	<div style="width:auto; float:left; text-align:center; margin:10px 0 0 10px">
	
	 	  <%= ratings_for course, :dimension => :quality rescue "" %>
	
	</div>
	
	 
	</div>
	
	<div class="tutorials_box_right">
	<div class="tutorial_heading"><%= course.course_title %>.</div>

<div class="tutorial_discription"><%= course.course_summary %> </div>


<div class="button_wraper">


<div style="float:left; margin:0 0 0 10px; width:auto"><%= link_to "VIEW THIS COURSE", course ,:class =>"deal"%></div> 

  <% @calculate_discount = ((course.percent_off || 1)/100)*((course.price))%>
  
  <% @total_discount = (course.price)-(@calculate_discount) %>
  
  <div style="margin:0 0 0 10px; float:left"><span class="price">$<%= @total_discount %></span><span class="discount">$<%= course.price %></span><span class="off"> (<%= course.percent_off %>% OFF)</span></div>
  
  <% @a= ( course.ExpiryDate - Date.today ).to_i rescue ""%> 
  	 
	<% if @a < 0 %>
	
	<div style="margin:0; float:left; width:100%; margin:10px 0"><span class="expires">Expires:</span><%=" Sorry  Course has been expired" %></div>
	<%else%>
			<div style="margin:0; float:left; width:100%; margin:10px 0"><span class="expires">Expires:</span><span class="days"> <%= a= ( course.ExpiryDate - Date.today ).to_i rescue ""%> Days</span></div>
	<% end %>
  
  </div>

		</div>
	
		<div class="featured_ribbon"></div>
	</div>
	<%end%>
			
	</div>
	</div>
	


	  




