<% content_for :styles do %>
<%= stylesheet_link_tag "tab.css" %>
<% end %>
<% content_for :scripts do %>
  <%= javascript_include_tag  "tabber.js" %>
<% end %>


<div class="tutorial_container">

	
	<div class="description">
		<%= @course.course_summary.html_safe %>
  </div>
	<div class="tutorials_box2">
	
	<div class="tutorials_box_left2">
	
	<div class="tutorial_image"><%= image_tag @course.image_url(:thumb2) if @course.image? %></div>
	
	  </div>
	
		<div class="tutorials_box_right2">
		
		
		
	<div class="button_wraper">
	
	<div style="margin:0; float:left; width:100%">
	
	<div> </div>
	    <div class="rating star<%= @course.courserating %>"></div>


	<div style="width:100%; float:left"><%= @course.courserating %> out of <%= @course.out_of_stars %> stars on Udemy by <%= @course.Number_of_People %> subscribers</div>
	
	</div>
  
  	<div style="margin:0; float:left; width:100%; margin:10px 0 0 0"><span class="price">Price:</span><span class="off">&nbsp;&nbsp;$<%= number_with_precision(@total_discount,  :precision => 0) %>&nbsp;&nbsp;instead of $<%= @course.price%></span></div>
    <div style="margin:0; float:left; width:100%; margin:10px 0 0 0"><span class="price">Discount:</span><span class="off">&nbsp;&nbsp;<%= number_with_precision(@course.percent_off,  :precision => 0) %>% OFF</span></div>
    
  			 <% @a= ( @course.ExpiryDate - Date.today ).to_i rescue ""%> 
  	 
	<% if @a < 0 %>
	
			<div style="margin:0; float:left; width:100%; margin:10px 0"><span class="price">Expires:</span><span class="off"><%=" Sorry  Course has been expired" %></span></div>
			
	<%else%>
			<div style="margin:0; float:left; width:100%; margin:10px 0"><span class="price">Expires:</span><span class="days"> <%= a= ( @course.ExpiryDate - Date.today ).to_i rescue ""%> Days</span></div>
			
	<% end %>
	<div style="float:left; margin:20px 0 0 0; width:100%"><a href="<%= @course.affiliate_program_link %> " class="deal2">GET THIS DEAL</a></div> 
  
  	</div>

	</div>
	
	
	</div>

	<div class="tabs">
       	  <div class="tabber">

     <div class="tabbertab">
	  <h2>What we think</h2>
	 <div class="description">
	 	<%= @course.description.html_safe %>

</div>
	  
     </div>


     <div class="tabbertab">
	  <h2>Requirements</h2>
	  <p><%= @course.course_requirements.html_safe %> </p>
     </div>

</div>
          
           <div class="clear"></div>       
         </div>
		
    </div>

 </div>
</div>

