<%= @course.course_title%><br>

<%= @course.course_category%><br>

<%= @course.headline%><br>

<%= @course.course_summary%><br>

<%= @course.goals_objectives%><br>

<%= @course.intended_audience%><br>

<%= @course.course_requirements%><br>

<%= @course.instructor%><br>

<%= @course.description%><br>

<%= @course.video_link%><br>

<%= @course.price%><br>

<%= @course.discounted_price%><br>

<%= @course.Voucher%><br>

<%= @course.ExpiryDate%><br>

<%= @course.Number_of_People%><br>

<%= @course.courserating%><br><br><br>

<%= image_tag @course.image_url(:thumb) if @course.image? %><br><br>


<a href="<%= @course.affiliate_program_link %> " ><%=@course.affiliate_program_link %></a><br><br>	

<%= link_to 'Back', root_path %>