<!DOCTYPE html>
<html>
<head>
<title>CoderSave - cheap programming tutorials</title>
<%= stylesheet_link_tag  "ajaxful_rating.css","style2.css"%>
   
<%= javascript_include_tag 'application' %>
<%= ajaxful_rating_style %>
<%= yield :styles %>

<%= yield :scripts %>


<%= csrf_meta_tag %>

</head>
<body>
<div align="center" id="maindiv">
		<div align="center" id="wrapper">

  			<div id="header">
			
	<div id="logo2">
		<% if signed_in? %>
			<%= link_to image_tag('/assets/logo2.png'), user_root_path %>
		<% else %>
			<%= link_to image_tag('/assets/logo2.png'), root_path %>
		<% end %>
	</div>
	
	<div class="top_right_menu">
		<%= current_user.email rescue "" %>
		<% if signed_in? %> 
			<%= link_to "Home", user_root_path %>
		<% end %>	   
		<a href="/pages/about-us">About us</a>
 		<a href="/pages/how-it-works">How it works</a> 
 		
 		<% if signed_in? %>
			<%= link_to "My Account", users_my_profile_path %>
		<% end %>
		        
		    
        <a href="/pages/contact">Contact</a>    
		<% if signed_in? %>     
			<%= link_to "Logout", user_signout_path %>
		<% end %>
	</div>

<%= yield %>
 <div class="footer_wrap">
 <div class="footer">
  <div style="width:40%; float:left; text-align:left">
  	Codersave.com <img src ="/assets/copyright.png" >&nbsp;2012 &nbsp;&nbsp; <a href="/pages/terms">Terms </a> &nbsp;|&nbsp; <a href="/pages/privacy">Privacy </a>
  	
   	
  </div>
  <div style="width:40%; float:right">
  	<a href="http://www.facebook.com/CoderSave"><img src="/assets/f.png" alt="" border="0" /></a>
  	<a href=" https://twitter.com/CoderSave"><img src="/assets/t.png" alt="" width="24" height="24" border="0" /></a>
  	<a href=" http://blog.codersave.com/"><img src="/assets/i.png" alt="" width="24" height="24" border="0" /></a>
  	<img src="/assets/like.png" alt="" width="77" height="19" />  
  	
  </div>
  
  </div>
  
  </div>
</div>
</div></div>


</body>
</html>