<!DOCTYPE html>
<html>
<head>
<title>CoderSave - cheap programming tutorials</title>
<%= stylesheet_link_tag  "ajaxful_rating.css","style2.css"%>
   
<%= javascript_include_tag 'application' %>
<%= ajaxful_rating_style %>
<%= yield :styles %>

<%= yield :scripts %>


<%= csrf_meta_tag %>

</head>
<body>
<div align="center" id="maindiv">
		<div align="center" id="wrapper">

  			<div id="header">
			
	<div id="logo2">
		<% if signed_in? %>
			<%= link_to image_tag('/assets/logo2.png'), user_root_path %>
		<% else %>
			<%= link_to image_tag('/assets/logo2.png'), root_path %>
		<% end %>
	</div>
	
	<div class="top_right_menu">
		<%= current_user.email rescue "" %>
		<% if signed_in? %> 
			<%= link_to "Home", user_root_path %>
		<% end %>	   
		<%= link_to "About Us", users_about_us_path %>
 		<%= link_to "How it works",users_how_it_works_path %> 
 		
 		<% if signed_in? %>
			<%= link_to "My Account", users_my_profile_path %>
		<% end %>
		        
		<%= link_to "Contact",users_help_path %>     

		<% if signed_in? %>     
			<%= link_to "Logout", user_signout_path %>
		<% end %>
	</div>

<%= yield %>
<div class="footer_wrap">
  	  <div class="footer">Codersave.com <img src ="/assets/Copyright_symbol_9.gif" height="10" width="10">  Terms and   Privacy</div>

  
  </div>
</div>
</body>
</html>