<!DOCTYPE html>
<html>
<head>
<title>CoderSave</title>
<%= stylesheet_link_tag  "ajaxful_rating.css" %>
<%= javascript_include_tag 'application' %>
<%= ajaxful_rating_style %>
<%= csrf_meta_tag %>

</head>
<body>


<%= yield %>

</body>
</html>
